.doctor-img {
    border-radius: 50%;
    height: auto;
    width: 20rem;
    margin-bottom: 1rem;
}
.doctor-detail h3 {
    color: #071836;
    font-weight: 700;
}
.doctor-detail h5 {
    color: #189cf0;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
}
.appointment-btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #189cf0;
    border-color: #189cf0;
}